* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}